In [ ]:
# the packages
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import re
import csv
import os
from dotenv import load_dotenv

In [ ]:
# display configuration
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)

In [ ]:
load_dotenv()

db_access = os.environ['MYSQL_PROD_CON']
db_access

## Load the Data

In [ ]:
# use this if we have the data
# df_raw = pd.read_csv("data/namu korean mart update tpl.csv")

In [ ]:
# use query using sqlalchemy tool if we dont have the data

# the steps:
# 1. connect to vpn
# 2. access the db
# 3. insert the query
# 4. read the query to df using pandas

In [ ]:
con_db = create_engine(db_access)

In [ ]:
# actually, the query depends on the request, the query example below is to get product and fulfillment for outlet with id

q = f"""
SELECT o.name as outlet, 
       p.id as product_id,
       p.name as product_name,
       pm.product_fulfillment_type_id AS product_fulfillment_type_id
FROM products p
JOIN outlets o ON o.id = p.outlet_id
JOIN product_fulfillments pm ON pm.product_id = p.id
WHERE o.id = 11143
"""

In [ ]:
df_raw = pd.read_sql(q, con=con_db)

In [ ]:
df_raw.info()

## Check the Data

In [ ]:
# uncomment this cell to check the data in detail
df_raw

In [ ]:
# check the duplicated data if needed
df_raw.duplicated(['product_id']).any()

## Update the Data using Query

In [ ]:
# create query for update the product fullfillment requested
dt_sql = []
for index, dt in df_raw.iterrows():
    dt_sql.append("UPDATE food.product_fulfillments SET product_fulfillment_type_id=2, interval=3 WHERE product_id = {};".format(dt["product_id"]))

In [ ]:
# set the filename with outlet and the requested type
outlet_name = df_raw["outlet"].unique()
outlet_name = outlet_name[0]
request_type = "update_fulfillment"

In [ ]:
# store to file txt in save it in local
df_sql = pd.DataFrame()
df_sql['query'] = dt_sql
np.savetxt(f"data/{request_type}_{outlet_name}.txt", df_sql.values, fmt = "%s")

## Another Queries Example

In [ ]:
# uncomment or copy the below cells depends on your requested

In [ ]:
# create query for updating the product prices requested
# request_type = "update_prices"
# dt_sql = []
# for index, dt in df_raw.iterrows():
#     dt_sql.append("UPDATE food.product_prices SET price={} WHERE product_id = {};".format(dt["new_price"],dt["id"]))

In [ ]:
# create query for updating the product name requested
# request_type = "update_name"
# dt_sql = []
# for index, dt in df_raw_renamed.iterrows():
#     dt_sql.append("UPDATE food.products SET name='{}' WHERE id = {};".format(dt["renamed"],dt["id"]))

In [ ]:
# create query for deleting the product delivery partner requested requested
# request_type = "delete_delivery_partner"
# dt_sql = []
# for index, dt in df_new.iterrows():
#     dt_sql.append("DELETE FROM food.product_delivery_partners WHERE product_id = {};".format(dt["product_id"]))

In [ ]:
# dont forget to store the queries to file txt
# outlet_name = df_raw["outlet"].unique()
# outlet_name = outlet_name[0]
# df_sql = pd.DataFrame()
# df_sql['query'] = dt_sql
# np.savetxt(f"data/{request_type}_{outlet_name}.txt", df_sql.values, fmt = "%s")